# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Poetry cache
.poetry/

# Environment variables
.env

# SQLite database
*.db

# Alembic
alembic/versions/*.pyc

# IDE/editor
.vscode/
.idea/
*.swp

# Test and coverage
.coverage
coverage.xml
.htmlcov/
.pytest_cache/

# Mypy
.mypy_cache/

# Logs
*.log
